.App {
  text-align: center;
 
}

.AddTask{
  display: flex;
  justify-content: center  !important;
  align-items: center !important;
  margin-top: 50px;
}

.Formulaire{
  width: 500px !important;
}
.AddTask Button{
  margin-left: 20px;
}

.List_Task{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:30px 150px;
}
.Task-Card{
  
  width: 200px !important ;
  height: 200px !important ;
  margin: 30px;
  padding: 20px 0;
}

.ButtonCard{
  display: flex;
  justify-content: space-around;
}
.ButtonCard Button{
  width: 75px;
}


/* ***************************filtre***************** */
.Button_Filter button{
  margin-left: 20px;
}